extend layout

block content
  .row
    .col.col-md-8.col-md-offset-2
        .panel.panel-default
          .panel-body
            nav.navbar.navbar-expand-lg.navbar-light.bg-light
              .pull-right
                form(method='post', action='/list')
                  button.btn.btn-warning.btn-lg.cluster-btn(type='submit') Cluster
              //.pull-right
                //  form(method='post', action='/list')
                //a.cluster-link(href='#clusterModal',data-toggle="modal")
                //  button.btn.btn-warning.btn-lg.cluster-btn(type='submit') Cluster
                //+modal("cluster result", "clusterModal")
                //  p
                //    +img-thumbnail("images/cluster-accu.png","cluster-image")
              //form(method='post', action='/list')
              //  .btn.btn-lg.btn-warning.cluster-btn(type='Submit') Cluster
            .table-container
              table.table.table-striped.table-bordered
                thead
                  tr: th &nbsp;
                      th File Name
                      th Original Prov. Graph
                      th Activity Graph
                tbody
                  - for (var i = 0; i < rows.length; i++)
                    - var name = rows[i].name
                    - var xml_data = rows[i].xml_data
                    - var json_data = JSON.stringify(rows[i].json_data)
                    tr
                      td
                        .ckbox
                          input#checkbox1(type='checkbox')
                      td=name
                      td
                        //.media
                        //a.pull-left(href='/show_xml/' + rows[i].name) XML
                        a.pull-left.xml-link(name=name, href='#Modal',data-toggle='modal') XML
                      td
                        //.media
                        //a.pull-left(href='/show_json/' + rows[i].name) JSON
                        a.pull-left.json-link(name=name,href='#Modal',data-toggle="modal") JSON
                        //+modal(name, "jsonModal")
                        //  p
                        //    | #{json_data}

                    +modal("Original Graph", "Modal")
                      .pull-right
                        .btn-group
                          button.btn.btn-success.xml-button(type='button',name=name) Original
                          button.btn.btn-warning.json-button(type='button',name=name) APG
                      
                      h5.xmlcontent
                      h5.jsoncontent
  .modal.modal-loading

  script(src='https://code.jquery.com/jquery-2.2.0.min.js')
  script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js")
  script(src="/../javascripts/list.js")

